<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <header>
            <img src="logo.png" alt="Logo" class="logo">
            <h1 class="title"><%= title %></h1>

    <!--Navigation-->
<nav>
    <a href="/">Home</a>
    <a href="/properties">Properties</a>
    <% if (user) { %>
        <a href="/profile">My Profile</a>
        <a href="/logout">Sign Out</a>
    <% } else { %>
        <a href="/sign">Sign In/Sign Up</a>
    <% } %>
    <a href="/contact">Contact</a>
</nav>
</header>


    <div class="hero">
        <img src="property6.jpg" alt="Hero Background" class="hero-background">
        <div class="hero-overlay">
            <h1>We will help you find your perfect home</h1>
        </div>
    </div>

    <div class="container">
        <h1>Latest properties</h1>
        <div class="properties-container-home">
            <div class="property">
                <img src="property1.jpg" alt="Property 1">
                <div class="property-details">
                    <h2>Beautiful Home</h2>
                    <p>Charming 3-bedroom Victorian townhouse in The Annex, featuring a cozy fireplace and private, lush backyard garden.</p>
                    <p>Price: $500,000</p>
                </div>
            </div>

            <div class="property">
                <img src="property2.jpg" alt="Property 2">
                <div class="property-details">
                    <h2>Luxury Apartment</h2>
                    <p>Elegant, detached home in Rosedale with a gourmet kitchen, landscaped garden, and a luxurious master suite with a spa-like bathroom</p>
                    <p>Price: $700,000</p>
                </div>
            </div>

            <div class="property">
                <img src="property3.jpg" alt="Property 3">
                <div class="property-details">
                    <h2>Modern Condo</h2>
                    <p>Stylish studio apartment in the Entertainment District, perfect for young professionals, with sleek finishes and a rooftop terrace.</p>
                    <p>Price: $800,000</p>
                </div>
            </div>

            <div class="property">
                <img src="property4.jpg" alt="Property 4">
                <div class="property-details">
                    <h2>Cozy Cottage</h2>
                    <p>Spacious, family-friendly 4-bedroom home in North York, boasting a large kitchen, finished basement, and a double-car garage.</p>
                    <p>Price: $400,000</p>
                </div>
            </div>

            <div class="property">
                <img src="property5.jpg" alt="Property 5">
                <div class="property-details">
                    <h2>Charming Townhouse</h2>
                    <p>Modern, high-rise condo in Downtown Toronto with panoramic city views, 24-hour concierge, and state-of-the-art amenities..</p>
                    <p>Price: $600,000</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        &copy; 2023 TZ Real Estate
    </footer>

</body>

</html>