<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
            <img src="logo.png" alt="Logo" class="logo">
            <h1><%= title %></h1>
    <!--Navigation-->
<nav>
    <a href="/">Home</a>
    <a href="/properties">Properties</a>
    <% if (user) { %>
        <a href="/profile">My Profile</a>
        <a href="/logout">Sign Out</a>
    <% } else { %>
        <a href="/sign">Sign In/Sign Up</a>
    <% } %>
    <a href="/contact">Contact</a>
</nav>
</header>

    <div class="container">
        <h2>My Profile</h2>
        <p>Welcome, <%= user.username %>!</p>
        <ul>
            <li>Email: <%= user.email %></li>
        </ul>
    </div>

    <footer>
        &copy; 2023 TZ Real Estate
    </footer>

</body>

</html>
